@tailwind base;
@tailwind components;
@tailwind utilities;

button {
  cursor: pointer;
}

.quill-editor .ql-container {
  font-size: 0.875rem;
  line-height: 1.25rem;
  /* border: none; */
  color: var(--secondaryText);
}

/* 
* {
  border: 1px solid red;
} */
